<% include topbar.ejs %>


<!-- START BREADCRUMB -->
<ul class="breadcrumb push-down-0">
</ul>
<!-- END BREADCRUMB -->                                                

<!-- START CONTENT FRAME -->
<div class="content-frame">   

<!-- START CONTENT FRAME TOP -->
<div class="content-frame-top">                        
<div class="page-title">                    
<h2><span class="fa fa-image"></span> Films </h2>
</div>                                      
<div class="pull-right">                            
</div>                         
</div>

<style>
.blueimp-gallery > .description, .blueimp-gallery > .example {
  position: absolute;
  top: 200px;
  right: 250px;
font-size:150%;
width:500px;
height:500px;
  line-height: 1.8em;
	text-overflow: ellipsis;
  word-wrap: break-word;
  color: #fff;
  display: none;

}
.blueimp-gallery > .slides {
	top:0px;
}
.blueimp-gallery-controls > .description, .blueimp-gallery-controls > .example {
  display: block;
}
</style>


<div class="gallery" id="links">

<% for(var x = 0; x < topCpbFilm.length; x++) { %>

<a id="link-<%= x %>" class="gallery-item" data-description="<%= topCpbFilm[x].descr %>" href="<%= topCpbFilm[x].img %>" title="<%= topCpbFilm[x].name %>" data-gallery>
<div class="image">                              
<img src="<%= topCpbFilm[x].img %>" alt="<%= topCpbFilm[x].name %>" width=100 height=400/>                                        
<ul class="gallery-item-controls">
<li style="width:100px;">Resumer</li>
<li style="width:100px">regarder</li>
</ul>                                                                    
</div>
<div class="meta">
<strong><%= topCpbFilm.name %></strong>
<span><%= topCpbFilm.descr %></span>
</div>                                
</a>

<% } %>
</div>

</div>       
<!-- END CONTENT FRAME BODY -->
</div>               
<!-- END CONTENT FRAME -->


</div>            
<!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<!-- BLUEIMP GALLERY -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
<div class="slides"></div>
<h3 class="title"></h3>
<a class="prev">‹</a>
<a class="next">›</a>
<a class="close">×</a>
<p class="description"></p>
<ol class="indicator"></ol>
</div>      
<!-- END BLUEIMP GALLERY -->



<!-- START SCRIPTS -->
<!-- START PLUGINS -->
<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>        
<!-- END PLUGINS -->

<!-- START THIS PAGE PLUGINS-->        
<script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

<script type="text/javascript" src="js/plugins/dropzone/dropzone.min.js"></script>
<script type="text/javascript" src="js/plugins/icheck/icheck.min.js"></script>
<!-- END THIS PAGE PLUGINS-->        

<!-- START TEMPLATE -->
<script type="text/javascript" src="js/settings.js"></script>

<script type="text/javascript" src="js/plugins.js"></script>        
<script type="text/javascript" src="js/actions.js"></script>        
<!-- END TEMPLATE -->



<script>            
/*
document.getElementById('links').onclick = function (event) {
	event = event || window.event;
	var target = event.target || event.srcElement;
	var link = target.src ? target.parentNode : target;
	var options = {index: link, event: event,onclosed: function(){
		setTimeout(function(){
				   $("body").css("overflow","");
				   },200);                        
	},  onslide: function (index, slide) {
            var text = this.list[index].getAttribute('data-description'),
                node = this.container.find('.description');
            node.empty();
			if (text) {
                node[0].innerHTML = text;
            
			}
        
	}};
	var links = this.getElementsByTagName('a');
	blueimp.Gallery(links, options);
};
*/
</script>        
<script type="text/javascript" src="js/main.js"></script>        


<!-- END SCRIPTS -->         
</body>
</html>
